<!--CODIGO DEL MOTOR DE VISTAS EJS-->
<!--Header-->
<% include partials/_header %>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
           <div class="card">
               <div class="card-body">
                <form action="/insert" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Insert your name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" placeholder="Insert your address" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" placeholder="Insert your phone number" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Customer</button>
                </form>
               </div>
           </div>
        </div>
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                        <th>PHONE NUMBER</th>
                        <th>OPTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){%>
                        <% for(var i=0; i<data.length; i++){ %>
                            <tr>
                                <td><%= (i+1)%></td>
                                <td><%= data[i].name%></td>
                                <td><%= data[i].address%></td>
                                <td><%= data[i].phone%></td>
                                <td>
                                    <a href="/delete/<%= data[i].id%>" class="btn btn-danger btn-sm">Delete</a>
                                    <a href="/update/<%= data[i].id%>" class="btn btn-warning btn-sm">Edit</a>
                                </td>
                            </tr>
                        <% }%>
                    <% }%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Footer-->
<% include partials/_footer %>

